 body{
background-color: aquamarine;
margin: 30px;
padding: 30px;
border: solid 3px rgb(19, 18, 18)

 }

 h2{
    color: rgb(0, 0, 0), 0, 0);
    text-align: center;
 }
  color


img{
    display: block;
    margin: 30%;
    width: 30%;
}
ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.video{
    width: 50%;
}

p{
    font-size: 20px;
}

ul{
    font-size: 25px;
}

li{
    font-size: 20px;
}