 body{
background-color: aquamarine;

 }

 h2{
    color: black;
    text-align: center;
 
 }
  color


img{
    display: block;
    margin: auto;
    width: 30%;
}
ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}